/* Color Schema */
body {
    background-color: #f4f4f4; /* Light background color */
    font-family: 'Arial', sans-serif; /* Base font */
    color: #333; /* Text color */
}

h2, h3, h4, h5, h6 {
    color: #0044cc; /* Heading color */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #0044cc; /* Header & footer background */
    color: #fff; /* Header & footer text color */
    padding: 1rem;
    text-align: center;
}

section {
    background-color: #fff; /* Main content background */
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wireframe img {
    max-width: 100%;
    height: auto;
}
