* {
    margin: 0;
    padding: 0;
}

header img {
    width: 70px;
    padding-left: 10px;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.title h1 {
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    font-family: "Protest Guerrilla", sans-serif;
    letter-spacing: 3px;
    font-size: 2rem;
    
}

.title p {
    padding-left: 10px;
    padding-top: 2px;
}

.weather-report .weather-icon img {
    width: 50px;
}

.navigation {
    display: flex;
    gap: 10px;
}

.navigation button{
    font-size: 40px;
    border: none;
    background-color: white;
}